form {
	width:100%;
	margin: 24px auto 0;
}
	
form li label {
	float:left;
	display:inline-block;
	line-height: 1.2;
	vertical-align:middle;
	font-size: 14px;
	text-align: right;
	width:110px;
}

form li input, form li select, form li textarea { 
	margin:0 0 0 10px;
}

form ol {
	margin: 0;
	padding: 0;
}
form ol li {
	list-style:none;
	padding:6px;
	margin: 0 auto;
	width:440px;
	overflow:hidden;
}
form input, form textarea { 
  float:left; 

}
  form ol li.help, form ol li.submit { 
	  text-align:center; 
  }
    form ol li.help p {
      width:520px;
      margin:0 auto;
    }
	
    form ol li.submit input { 
  		float:none;
  	}
	
  form ol li.help {
	  width:80%;
  	font-size:12px;
	  color: #888888;
  }

  form ol li select {
	  min-width:160px;
  }

  form ol li div.fieldWithErrors {
  	display:inline;
  }
  form ol li div.fieldWithErrors input,form ol li div.fieldWithErrors select {
  	background-Color: #FFAAAA;
  }

	.error p {
		font-size: 18px;
    color: red;
  }
	.error ol li {
		font-size:12px;	
	}