
body {
  margin:24px 0 0;
  font-family: times new roman;
  font-weight: 500;
  background-image:url('images/frenchstucco2.png');
}

h1,h2,h3,h4,h5 {
  font-weight:normal;
  text-shadow: 2px 2px 5px rgba(107, 106, 106, 0.7);
  height: 100%;
}

img { border:0; }

a {
	color:#353535;
	text-decoration: none;
}

.flash { text-align:center; margin:0; }
.notice, .green { color:green; }
.error, .red { color: red; }

#page {
	width:780px;
	margin:150px auto;
	height: 100%;
}

	#page #header {
    position: relative;
    width:85%;
    height: 120px;
	}
		#page #header #logo {
			text-align:center;
			margin:0 0 0 0;
			height: 100%;
			width:100%;
			position: absolute;
		}
		
			#page #header #logo h1 {
			    text-align: center;
				font-size:100px;
				margin:0;
				width:118%;
				position: absolute;
				z-index:-1;
			}
		
		#page #header ul {
		  float:left;
		  text-align:left;
		  position: relative;
		  list-style: none;
		  padding:10px 0 0 0;
		  margin:0 0 0 90%;
		  text-shadow: 2px 2px 5px rgba(107, 106, 106, 0.7);
		  z-index: 1;
		}
    
      #page #header ul li {
	font-size:28px;
      }



/*The moving banner */      
#page #page-wrap { 
  width: 100%;
  max-width: 842px; 
  background: transparent;
  margin-top:20%;
    position: relative;
}

#page #page-wrap:before, #page-wrap:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 50px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,100), rgba(255,255,255,0));
}
#page #page-wrap:before {
  left: 0;
}
#page #page-wrap:after {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,100));
}


    #tech-slideshow {
	height: 200px;
	position: relative;
	overflow: hidden;
    }
    #tech-slideshow > div {
	height: 200px;
	width: 2526px;
	background: url(images/collage.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	
	-moz-transition:  opacity 0.5s ease-out; 
	   -o-transition: opacity 0.5s ease-out; 
      -webkit-transition: opacity 0.5s ease-out; 
	  -ms-transition: opacity 0.5s ease-out; 
    
	/* Slow */
	-webkit-animation: moveSlideshow 60s linear infinite;
	-moz-animation:    moveSlideshow 60s linear infinite;
	
	-webkit-transform: translate3d(0,0,0); /* Performance */
    
    }

    
    @-webkit-keyframes moveSlideshow {
	0%   { 
	    -webkit-transform: translateX(0); 
	    -moz-transform:    translateX(0); 
	    -ms-transform:     translateX(0); 
	    -o-transform:      translateX(0); 
	    transform:         translateX(0); 
	}    
	100% { 
	    -webkit-transform: translateX(-1684px); 
	    -moz-transform:    translateX(-1684px); 
	    -ms-transform:     translateX(-1684px); 
	    -o-transform:      translateX(-1684px); 
	    transform:         translateX(-1684px); 
	}
    }
    @-moz-keyframes moveSlideshow {
	0%   { 
	    -webkit-transform: translateX(0); 
	    -moz-transform:    translateX(0); 
	    -ms-transform:     translateX(0); 
	    -o-transform:      translateX(0); 
	    transform:         translateX(0); 
	}    
	100% { 
	    -webkit-transform: translateX(-1684px); 
	    -moz-transform:    translateX(-1684px); 
	    -ms-transform:     translateX(-1684px); 
	    -o-transform:      translateX(-1684px); 
	    transform:         translateX(-1684px); 
	}
    }